.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media only screen and (max-width: 767px) {
  .custom-toast {
    width: 50%;
    height: 80px;
    left: 50%;
  }
  .firstpage_container {
    @apply text-yellow-500;
    height: 100%;
    width: 100%;
    /* color: #ffcc00; */
    /* font-weight: bold; */
  }

  .firstpage_container1.blurred {
    filter: blur(2px); /* Adjust the blur intensity as needed */
  }

  .firstpage_welcome {
    @apply font-semibold pb-3;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    font-size: 1.5rem;
  }

  .firstpage_food {
    @apply text-white  font-bold mb-20;
    text-align: center;
    font-size: 1.8rem;
  }

  .firstpage_areyou {
    @apply text-4xl font-bold pl-8 text-yellow-400 w-52 italic mt-28;
  }

  .firstpage_typewriter-container {
    @apply flex justify-center italic;
  }

  /* TypingAnimation.css */
  @keyframes typing {
    from {
      width: 0;
    }
  }

  .firstpage_word {
    position: fixed;
    margin: auto;
    color: white;
    /* font: 700 normal 2.5em 'Tahoma'; */
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white; /* Adjust the border style as needed */
    animation: typing 3s steps(30) forwards;
  }

  /* Add any other styles you need for the component */

  .firstpage_btndiv {
    @apply flex justify-center mt-40;
  }

  .firstpage_btn {
    @apply bg-yellow-400  text-black font-bold py-2 px-4 rounded-full h-14 w-56 text-xl;
  }

  .firstpage_loadingicon {
    position: fixed;
    bottom: 20%;
    left: 47%;
    @apply text-white;
  }

  .firstpage_staic_div1 {
    background-color: #ffd700; /* Yellow background color */
    padding: 1rem; /* Padding around the content */
    position: absolute; /* Fixed position */
    top: 0rem; /* Distance from the top */
    height: 6rem;
    width: 5rem;
    z-index: -2;
    border-radius: 0px 0px 100px 0px;
  }
  .firstpage_staic_div2 {
    background-color: #ffd700; /* Yellow background color */
    padding: 1rem; /* Padding around the content */
    position: absolute; /* Fixed position */
    top: 12rem; /* Distance from the top */
    height: 10rem;
    width: 2rem;
    z-index: -2;
    border-radius: 90px 0px 0px 90px;
  }

  .firstpage_staic_div2_parent {
    @apply flex content-end justify-end;
  }

  .firstpage_sweetalertinputs {
    margin-bottom: 1rem;
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 3px;
    padding: 9px 12px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
    :hover{
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 2px;
    }
    :focus{
        background: #fff;
        outline: 0;
        box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
    }

    /* color: red;
    border: 2px solid blue; */
  }

  /* menupage mobile view css */
  .menulist_container {
    @apply pr-10 bg-black;
  }

  .menulist_btn_div {
    @apply fixed bottom-4 justify-center bg-slate-700 text-white p-2 rounded-full shadow-md ml-12 grid grid-cols-3 gap-11 h-14 mb-6;
  }

  .menulist_first_btn {
    @apply ml-5 h-10 w-10 text-black rounded-xl;
  }

  .menulist_middle_btn {
    @apply ml-2 h-10 w-10 text-black rounded-xl;
  }

  .menulist_third_btn {
    @apply mr-5 h-10 w-10 text-black rounded-xl;
  }

  .menulist_icon {
    @apply h-8 w-8 ml-1;
  }

  .menulist_yellow {
    @apply bg-yellow-600;
  }
  .menulist_black {
    @apply bg-black;
  }

  /* homemenu css for mobile */

  .homemenu_menu_div {
    @apply grid grid-cols-3;
  }

  .homemenu_karticon {
    @apply text-black;
  }

  .homemenu_menu {
    @apply text-yellow-400 pl-5 pt-4 font-bold text-2xl col-span-2;
  }
  .homemenu_basket {
    @apply pt-5 font-bold text-2xl mr-4 text-right;
    /* text-align: right; */
  }

  /* homepage mobile view */

  .homepage_serchdiv {
    position: relative;
  }

  .homepage_input {
    @apply border border-gray-300 rounded-full py-2 px-4 pl-10 focus:outline-none focus:border-blue-500 mt-10 dark:text-black w-full;
  }
  .homepage_serachicon {
    @apply absolute inset-y-0 left-0  flex items-center pointer-events-none  pl-3 mt-10;
    /* margin-bottom: 27.7rem; */
  }

  .homepage_veg_nonveg {
    @apply grid grid-cols-2 mt-8;
  }

  .homepage_veg_div {
    @apply bg-white  text-black  rounded-full mr-2 mb-2 h-20 grid grid-cols-2;
  }

  .homepage_veg_img {
    @apply h-14 w-16 my-3 ml-4 rounded-2xl;
  }

  .homepage_non_veg_div {
    @apply bg-white  text-black  rounded-full mt-1 mb-2 mr-2 h-20 grid grid-cols-2;
  }

  .homepage_nonveg_img {
    @apply h-14 w-16 my-3 ml-4 rounded-2xl;
  }
  .homepage_vegname {
    @apply text-lg font-bold;
  }

  .homepage_ordernow {
    @apply text-sm italic;
  }

  .homepage_nonvegdiv {
    @apply text-lg font-bold;
  }

  .homepage_popularfood {
    @apply ml-5 font-bold mt-3 text-2xl;
  }
  .homepage_veg_ordernowdiv {
    @apply mt-2;
  }

  .homepage_noffodfound_div {
    @apply text-center mt-5 text-xl italic;
  }

  .homemenu_staic_div {
    background-color: #ffd700; /* Yellow background color */
    padding: 1rem; /* Padding around the content */
    position: absolute; /* Fixed position */
    top: 0rem; /* Distance from the top */
    height: 4.2rem;
    width: 4rem;
    z-index: -2;
    border-radius: 0px 0px 0px 55px;
  }
  .homepage_parent_yellowstatic {
    /* align-items: end;
    justify-content: right; */
    @apply flex content-end justify-end;
  }

  /* cardmenu css for mobile view */

  .cardmenu_indexdiv {
    @apply h-40 bg-yellow-50 mt-3 mb-3 mx-5 rounded-3xl;
  }

  .cardmenu_topdiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .cardmenu_imgtopdiv1 {
    grid-column: span 2;
  }
  .cardmenu_imgtopdiv {
    @apply grid grid-cols-2;
  }
  .cardmenu_imgseconddiv {
    @apply m-4 rounded;
  }
  .cardmenu_image {
    @apply rounded-xl h-20 w-20 m-4;
  }

  .cardmenu_itemnamediv {
    @apply text-black mt-5 font-semibold;
    font-size: 1rem;
  }
  .cardmenu_hearddiv {
    @apply text-black text-3xl pl-16 pb-3;
  }
  .cardmenu_hearddiv_top {
    @apply mt-5 text-right mr-5;
  }
  .cardmenu_addcart_btn {
    @apply bg-yellow-300 p-2 rounded-3xl font-semibold;
  }
  .cardmenu-text-black-color {
    color: black;
  }
  .cardmenu_discountdiv {
    @apply text-black ml-5;
    display: flex;
  }
  .cardmenu_discount {
    @apply text-green-600 italic font-bold;
  }
  .cardmenu_crossprice {
    @apply line-through text-gray-600 font-semibold;
  }
  .cardmenu_rupeesprice {
    @apply flex items-center;
    font-weight: bold;
  }

  /* car mobile view css */
  .cart_container {
    @apply text-white;
  }
  .cart_seconddiv {
    @apply text-2xl font-bold grid grid-cols-9 pt-5;
  }
  .cart_yourcartdiv {
    @apply col-span-3 text-yellow-500 ml-3;
  }
  .cart_firstcarddiv {
    @apply bg-gray-200 mt-12 rounded-3xl text-black pb-72;
  }
  .cart_secondcarddiv {
    @apply text-center pt-10;
  }
  .card_secondcardseconddiv {
    @apply bg-white mx-5 rounded-3xl pb-5 pt-2;
  }
  .cart_itemQulitydiv {
    @apply grid grid-cols-2  pt-3 pb-3 text-xl font-bold;
  }
  .cart_item {
    @apply justify-self-start pl-8;
  }
  .cart_qunitity {
    @apply justify-self-end pr-8;
  }
  .cart_hr {
    @apply mx-10 border-t-4 border-black;
  }
  .cart_mapmaindiv {
    @apply grid grid-cols-12 pl-2 text-xl mt-2 mb-5;
  }

  .cart_img {
    @apply h-8 w-8  mt-1 rounded-lg;
  }
  .cart_name {
    @apply col-span-6 pl-2 mt-1 text-left;
  }
  .cart_foodid {
    @apply pt-1 mt-1;
  }
  .cart_indexdiv {
    @apply mt-1;
  }

  .cart_foodvalue {
    @apply mt-1;
  }

  .cart_checkoutbtndiv {
    @apply mt-10 flex justify-center;
  }

  .cart_checkoutbtn {
    @apply bg-yellow-300  text-black font-bold py-3 px-5 text-xl rounded-full mx-5;
  }

  /* bill mobile cs */
  .bill_totaldiv {
    @apply pl-10;
  }
  .bill_seconddiv {
    @apply text-2xl font-bold pl-3 pt-5;
  }

  .bill_yourbilldiv {
    @apply col-span-3 text-yellow-500 pb-2 pl-2;
  }
  .bill_firstdiv {
    @apply bg-gray-300 mt-14 rounded-t-3xl text-black pb-32;
  }
  .bill_secondcartdiv {
    @apply text-center pt-10;
  }

  .bill_secondcartfirstdiv {
    @apply mx-10 bg-white rounded-3xl shadow-2xl;
  }
  .bill_paymentinvoice {
    @apply pt-3 font-semibold;
  }
  .bill_hr {
    @apply mx-10 mt-5 border-t-2 border-black;
  }
  .bill_namerateimgdiv {
    @apply grid grid-cols-12 pt-8 pl-8 text-sm font-semibold;
  }
  .bill_img {
    @apply rounded-xl mt-1;
  }
  .bill_imgdiv {
    @apply col-span-1;
  }
  .bill_foodqt {
    @apply ml-2;
  }
  .bill_foodname {
    @apply col-span-6 pl-2;
    font-size: 1rem;
  }

  .bill_foodrate {
    @apply pl-5;
  }
  .bill_secondhr {
    @apply mx-10 mt-11 mb-5 border-t-2 border-black;
  }
  .bill_totalbilldiv {
    @apply grid grid-cols-2 text-2xl text-left pb-5 font-semibold;
  }
  .bill_paybuttondiv {
    @apply mt-14 grid grid-cols-2 justify-center;
  }
  .bill_paybtn {
    @apply bg-yellow-300  text-black font-bold py-3 px-2 text-xl rounded-full;
  }

  .bill_orderjowbtn {
    @apply bg-yellow-300 text-black font-bold w-40 py-3 rounded-full text-xl ml-2;
  }

  /* pay page mobile view css */
  .pay_container {
    @apply bg-black text-white pb-20;
  }
  .pay_leftarrowdiv {
    @apply grid grid-cols-10 text-2xl py-3 pl-3;
  }

  .pay_QRdiv_parent {
    @apply pt-5 pl-4;
  }

  .pay_QRdiv {
    @apply flex justify-center;
  }

  .pay_paybutton {
    @apply pl-2 pb-2;
  }

  .pay_firstcard {
    @apply pb-10 bg-slate-200 rounded-3xl pt-10 text-black;
  }

  .pay_secodcard {
    @apply bg-white pb-10 mx-10 text-center pt-5 rounded-3xl;
  }

  .pay_thirdcard {
    @apply my-10 bg-slate-100 mx-10 h-56 rounded-3xl shadow-2xl;
  }

  .pay_ordiv {
    @apply font-bold text-xl;
  }

  .pay_billontable {
    @apply mt-10 font-semibold;
  }
  .pay_totalmoneydiv {
    @apply font-semibold mt-3;
  }

  .Pay_QR {
    @apply shadow-2xl;
  }

  /* css for foodid mobile view */
  .foodid_container {
    @apply bg-gray-200 text-black pb-28;
  }

  .foodid_secoddiv {
    @apply text-2xl font-bold grid  grid-cols-9 pt-5;
    /* display: ; */
    position: absolute;
  }

  .foodid_imgoffood {
    /* position: absolute; */
  }

  .fooddetails_yellostar {
    @apply text-yellow-500;
  }

  .foodid_backbtn {
    @apply ml-5 text-black mt-1;
  }
  .foodid_foodname {
    @apply col-span-6 text-black;
  }
  .foodid_foodimg {
    @apply rounded-3xl bg-slate-200 pt-5 pb-32 rounded-2xl;
  }
  .foodid_fooddeatails {
    @apply grid grid-cols-2 mx-4 text-xl font-semibold rounded-3xl;
  }

  .foodid_starmaindiv {
    @apply grid grid-cols-12 gap-6 my-5 text-3xl;
  }

  .foodid_review {
    @apply col-span-3 text-sm pt-2 pl-2;
  }
  .foodid_fooddeatilsdiv {
    @apply ml-5 font-semibold mt-3;
  }

  .foodid_foodnutritionmaindiv {
    @apply bg-white h-20 w-64 text-center ml-16 mb-5 rounded-xl grid grid-cols-3  shadow-2xl py-4;
  }

  .foodid_caloriesdiv {
    @apply px-3 border-l border-r border-solid border-gray-500;
  }

  .oodid_proteinsdiv {
    @apply ml-4 mr-2;
  }

  .foodid_addtocarddiv {
    @apply fixed bottom-4  w-full;
    text-align: center;
  }

  .foodid_addtocardbtn {
    @apply bg-yellow-300 text-black font-bold py-3 px-5 text-xl rounded-full;
  }
  .foodid_detailsoffood {
    @apply mx-5;
    text-align: justify;
  }
  .foodid_nutritionsdiv {
    @apply ml-5 font-semibold mt-5;
  }

  /* Orderagain page mobile css */
  .orderagain_paybtn {
    @apply mt-32 mb-6;
  }
  .ordernow_browesmenubtn {
    @apply mt-6;
  }
  .orderagain_conatainer {
    @apply bg-black text-white pb-20;
  }
  .orderagain_leftarrowdiv {
    @apply grid grid-cols-10 text-2xl py-3 pl-3;
  }

  .orderagain_firstcard {
    @apply mt-10 pb-10 bg-slate-200 rounded-3xl pt-10 text-black;
    height: 80vh;
  }

  .orderagain_secondcard {
    @apply bg-white pb-10 mx-10 text-center pt-5 rounded-3xl;
  }

  .ordernow_paybtn {
    @apply bg-yellow-600  text-black font-bold py-2 px-4 rounded-full;
  }
  .ordernow_browesmenubtn {
    @apply bg-yellow-600  text-black font-bold py-2 px-4 rounded-full;
  }

  .orderagain_hotellogo {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .orderagain_logo {
    height: 8rem;
    width: 8rem;
  }
  .orderagain_tagline {
    /* display: flex;
    justify-content: center; */
    @apply flex justify-center italic font-semibold;
  }
  .orderagain_animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    /* font-size: 30px; */
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  .orderagain_msg {
    @apply flex justify-center font-semibold mt-5 mx-3;
  }

  .orderagain_orderjowbtn {
    @apply bg-yellow-300 text-black font-bold w-44 py-3 rounded-full text-xl ml-1;
  }

  /* roundeslider div */
  .roundslider_container {
    @apply flex items-center justify-center my-2;
  }
  .roundeslider_seconddiv {
    @apply overflow-x-auto;
  }
  .roundslider_mapparent {
    @apply flex space-x-4;
  }
  .roundslider_imgdiv {
    @apply rounded-full h-16 w-16 flex items-center justify-center bg-slate-100  ml-2;
  }

  .test_imgdiv {
    @apply rounded-full h-16 w-16 flex items-center justify-center bg-slate-100  ml-2;
  }
  .test_i {
    @apply rounded-full h-16 w-16 object-cover;
  }

  .roundslider_img {
    @apply rounded-full h-16 w-16;
  }
  .rounslider_namediv {
    @apply text-center italic;
  }

  /* css for nameofdiv page mobile view */
  .nameoffood_headerdiv {
    @apply bg-yellow-200 rounded-b-3xl flex justify-center pt-4 h-20 text-black font-semibold italic;
    font-size: 1.5rem;
  }

  .nameoffood_sortbutton {
    @apply text-center space-x-4 mt-2;
  }
  .nameoffood_sortbutton_btn {
    @apply bg-transparent text-yellow-500 font-semibold   px-2 border border-yellow-500 rounded-full hover:border-transparent hover:text-white hover:bg-yellow-400;
  }

  .nameoffood_all_btn_true {
    @apply bg-yellow-400 text-white border-transparent font-semibold rounded-full px-2;
  }
  .nameoffood_all_btn_false {
    @apply bg-transparent text-yellow-500 font-semibold   px-2 border border-yellow-500 rounded-full;
  }

  /* .nameoffood_sortbutton_btn_else {
    @apply bg-transparent text-yellow-500 font-semibold   px-2 border border-yellow-500 rounded-full  ;
  } */
  .nameoffood_sortselect_btn {
    @apply bg-transparent text-yellow-500 font-semibold   px-2 border border-yellow-500 hover:border-transparent hover:bg-yellow-400 hover:text-white rounded-full;
  }

  /* mobile view of the  */
  .invoice_invoice {
    @apply font-bold;
    font-size: 1.5rem;
    text-align: center;
  }

  .invoice_hr {
    @apply mx-10 mt-6 mb-5 border-t-2 border-black;
  }

  .invoce_heading {
    @apply grid grid-cols-12;
  }

  .invoice_nameheading {
    @apply col-span-6 pl-2 font-bold ml-7;
    font-size: 1.2rem;
  }
  .invoice_qtheading {
    @apply font-bold;
    font-size: 1.2rem;
  }
  .invoice_priceheading {
    @apply pl-5 font-bold;
    font-size: 1.2rem;
  }

  .invoice_foodname {
    @apply col-span-6 pl-2 ml-4;
    font-size: 1rem;
  }
  .invoice_foodqt {
    @apply ml-2;
    font-size: 1rem;
  }

  .invoice_foodrate {
    @apply pl-5;
    font-size: 1rem;
  }

  .invoice_totalparentdiv {
    @apply flex mx-20 justify-between font-bold;
    font-size: 1.5rem;
  }
}

/* media for the tablet view */

/* Tablet view - typical landscape orientation */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  /* Your tablet-specific styles go here */
  .firstpage_container {
    @apply bg-black text-yellow-400;
    height: 100vh;
    width: 100%;
  }

  .firstpage_welcome {
    font-size: 3rem;
    @apply text-center italic mt-28;
  }
  .firstpage_food {
    font-size: 4rem;
    position: fixed;
    @apply text-center italic mt-12 font-bold text-white mb-28;
  }
  .firstpage_areyou {
    @apply font-semibold ml-16 text-5xl mt-60;
  }
  .firstpage_typewriter-container {
    @apply flex justify-center italic;
  }
  .firstpage_btndiv {
    @apply mt-40 text-center text-white;
  }
  .firstpage_btn {
    @apply bg-yellow-400  text-black font-bold py-2 px-4 rounded-full h-14 w-56 text-xl;
  }
  .firstpage_loadingicon {
    position: fixed;
    bottom: 20%;
    left: 47%;
    @apply text-white;
  }

  .firstpage_container1.blurred {
    filter: blur(2px); /* Adjust the blur intensity as needed */
  }

  .firstpage_staic_div1 {
    background-color: #ffd700; /* Yellow background color */
    padding: 1rem; /* Padding around the content */
    position: absolute; /* Fixed position */
    top: 0rem; /* Distance from the top */
    height: 7rem;
    width: 6rem;
    z-index: -2;
    border-radius: 0px 0px 100px 0px;
  }

  /* fixed bottom-12 left-1/2 transform -translate-x-1/2 */
  .menulist_btn_div {
    @apply bg-slate-700 text-white p-2 rounded-full shadow-md ml-12 grid grid-cols-3 gap-12 h-20 pt-5;
    position: fixed;
    bottom: 5rem;
    left: 45%;
    transform: translateX(-50%);
  }

  .menulist_first_btn {
    @apply ml-5 h-10 w-10 text-black rounded-xl;
  }

  .menulist_middle_btn {
    @apply ml-2 h-10 w-10 text-black rounded-xl;
  }

  .menulist_third_btn {
    @apply mr-5 h-10 w-10 text-black rounded-xl;
  }
  .menulist_icon {
    @apply h-8 w-8 ml-1;
  }

  .menulist_yellow {
    @apply bg-yellow-600;
  }

  .homemenu_menu_div {
    @apply mb-5 grid grid-cols-2;
  }

  .homemenu_menu {
    @apply text-yellow-400 pl-10 pt-8 font-bold text-4xl;
  }
  .homemenu_basket {
    @apply pt-8 font-bold text-4xl pr-2 mr-4 text-right;
    /* text-align: right; */
  }

  .homepage_parent_yellowstatic {
    @apply flex content-end justify-end;
  }

  .homemenu_staic_div {
    background-color: #ffd700; /* Yellow background color */
    padding: 1rem; /* Padding around the content */
    position: absolute; /* Fixed position */
    top: 0rem; /* Distance from the top */
    height: 7rem;
    width: 6rem;
    z-index: -2;
    border-radius: 0px 0px 0px 65px;
  }
  .homemenu_karticon {
    @apply text-black;
  }

  /* homepage tablete view */

  .homepage_serchdiv {
    position: relative;
  }

  .homepage_input {
    /* @apply border border-gray-300 rounded-full py-2 px-4 pl-10 focus:outline-none focus:border-blue-500 mt-10 dark:text-black w-full; */
    border: 1px solid #cbd5e0;
    border-radius: 999px; /* Use a large value for a rounded shape */
    padding: 0.5rem 1rem;
    padding-left: 3rem; /* Adjust as needed */
    outline: none;
    border: 1px solid #cbd5e0;
    margin-top: 1rem; /* Adjust as needed */
    color: black; /* For dark mode, you can adjust the color */
    width: 70%;
    margin-left: 15%;
    box-sizing: border-box;
  }
  .homepage_serachicon {
    /* @apply absolute inset-y-0 left-0  flex items-center pointer-events-none mt-10 pl-3; */
    position: absolute;
    left: 0.75rem; /* Adjust as needed */
    top: 1.7rem; /* Adjust as needed */
    display: flex;
    align-items: center;
    pointer-events: none;
    margin-left: 15%;
    width: 100%;
  }

  .homepage_veg_nonveg {
    @apply grid grid-cols-2 mt-10 mx-6;
  }

  .homepage_veg_div {
    @apply bg-white  text-black  rounded-full mr-2 mb-2    h-28 grid grid-cols-2;
  }

  .homepage_veg_img {
    @apply h-20 w-20 my-4 ml-14 rounded-2xl;
  }

  .homepage_non_veg_div {
    @apply bg-white  text-black  rounded-full mt-1 mb-2 mr-2 h-28 grid grid-cols-2;
  }

  .homepage_nonveg_img {
    @apply h-20 w-20 my-4 ml-14 rounded-2xl;
  }

  .homepage_vegname {
    @apply text-3xl font-bold mt-4;
  }

  .homepage_ordernow {
    @apply text-sm italic;
  }

  .homepage_nonvegdiv {
    @apply text-3xl mt-4 font-bold;
  }
  .homepage_maindiv {
    overflow-x: hidden;
  }
  .homepage_popularfood {
    @apply ml-5 font-bold my-5 text-4xl;
  }

  .homepage_noffodfound_div {
    @apply text-center mt-5 text-3xl italic;
  }

  /* cardmenu css  for tablet*/
  .cardmenu_indexdiv {
    @apply h-56 bg-yellow-50 mt-3 mb-3 mx-5 rounded-3xl;
  }

  .cardmenu_topdiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .cardmenu_imgtopdiv1 {
    grid-column: span 2;
  }
  .cardmenu_discountdiv {
    @apply text-black ml-14 mt-2;
    font-size: xx-large;
    display: flex;
  }

  /* .cardmenu_topdiv {
    @apply grid grid-cols-3;
  } */
  .cardmenu_imgtopdiv {
    @apply grid grid-cols-2;
  }
  .cardmenu_imgseconddiv {
    @apply m-4 rounded;
  }
  .cardmenu_image {
    @apply rounded-xl h-28 w-28 my-6 ml-16 mx-8;
  }

  .cardmenu_itemnamediv {
    @apply text-black mt-8 font-bold text-3xl;
  }
  .cardmenu_hearddiv {
    @apply text-black text-5xl  pr-5 pt-2 pb-3 flex justify-end;
  }
  .cardmenu_hearddiv_top {
    @apply mt-5 text-right mr-10;
  }
  .cardmenu_addcart_btn {
    @apply bg-yellow-300 p-2 mt-2 w-32 rounded-3xl font-semibold text-black;
    color: black;
  }
  .cardmenu_discount {
    @apply text-green-600 italic font-bold;
  }
  .cardmenu_crossprice {
    @apply line-through text-gray-600 font-semibold;
  }
  .cardmenu_rupeesprice {
    @apply flex items-center;
    font-weight: bold;
  }

  /* roundeslider div */
  .roundslider_container {
    @apply flex items-center justify-center my-2;
  }
  .roundeslider_seconddiv {
    @apply overflow-x-auto;
  }
  .roundslider_mapparent {
    @apply flex space-x-4;
  }
  .roundslider_imgdiv {
    @apply rounded-full h-24 w-24 flex items-center justify-center bg-slate-100 my-3  ml-2;
  }
  .roundslider_img {
    @apply rounded-full h-24 w-24;
  }
  .rounslider_namediv {
    @apply text-center italic;
  }

  /* card tablete css */
  .cart_container {
    @apply text-white;
  }
  .cart_seconddiv {
    @apply text-2xl font-bold grid grid-cols-9 pt-5 pl-2;
  }
  .cart_yourcartdiv {
    @apply col-span-3 text-yellow-500;
  }
  .cart_firstcarddiv {
    @apply bg-gray-200 mt-28 mx-4 rounded-3xl text-black pb-24;
    height: 90vh;
  }
  .cart_secondcarddiv {
    @apply text-center pt-10;
  }
  .card_secondcardseconddiv {
    @apply bg-white mx-5 rounded-3xl pb-5 pt-2;
  }
  .cart_itemQulitydiv {
    @apply grid grid-cols-2  pt-3 pb-3 text-3xl font-bold;
  }
  .cart_item {
    @apply justify-self-start pl-10;
  }
  .cart_qunitity {
    @apply justify-self-end pr-10;
  }
  .cart_hr {
    @apply mx-10 border-t-2 mb-3 border-black;
  }
  .cart_mapmaindiv {
    @apply grid grid-cols-12 h-16 pl-2 text-xl mt-2 mb-5;
  }

  .cart_img {
    @apply h-14 w-14 rounded-md;
  }
  .cart_name {
    @apply col-span-6 pl-2 mt-3 text-3xl font-semibold text-left;
  }
  .cart_indexdiv {
    @apply mt-4 text-2xl;
  }
  .cart_foodid {
    @apply pt-1 mt-1 text-3xl;
  }

  .cart_foodvalue {
    @apply mt-2 text-3xl;
  }

  .cart_checkoutbtndiv {
    @apply mt-10 flex justify-center;
  }

  .cart_checkoutbtn {
    @apply bg-yellow-300  text-black font-bold py-3 px-5 text-xl rounded-full;
  }

  /* bill tablete css */

  .bill_seconddiv {
    @apply text-2xl font-bold grid grid-cols-9 pt-5;
  }

  .bill_foodqt {
    @apply mt-4;
  }

  .bill_yourbilldiv {
    @apply col-span-3 text-yellow-500 pb-2 pl-2;
  }
  .bill_firstdiv {
    @apply bg-gray-300 mt-14 rounded-3xl text-black pb-32;
    height: 100vh;
  }
  .bill_secondcartdiv {
    @apply text-center pt-10;
  }

  .bill_secondcartfirstdiv {
    @apply mx-10 bg-white rounded-3xl shadow-2xl;
  }
  .bill_paymentinvoice {
    @apply pt-3 font-bold text-3xl;
  }
  .pay_totalmoneydiv {
    @apply font-semibold mt-3;
  }
  .bill_hr {
    @apply mx-10 mt-5 mb-5 border-t-2 border-black;
  }
  .bill_namerateimgdiv {
    @apply grid grid-cols-12 pt-8 pl-8 text-2xl;
  }
  .bill_foodname {
    @apply col-span-6 pl-2 pt-4;
  }
  .bill_foodrate {
    @apply pt-4;
  }
  .bill_secondhr {
    @apply mx-10 mt-11 mb-5 border-t-2 border-black;
  }
  .bill_totalbilldiv {
    @apply grid grid-cols-2 text-2xl text-left pb-5;
  }
  .bill_paybuttondiv {
    @apply mt-14 grid grid-cols-2 gap-3 px-5 justify-center;
  }
  .bill_paybtn {
    @apply bg-yellow-300  text-black font-bold py-3 px-16 text-xl rounded-full ml-10;
  }

  .bill_orderjowbtn {
    @apply bg-yellow-300 text-black font-bold py-3 rounded-full text-xl w-40 ml-20;
  }
  .bill_imgdiv {
    /* @apply ; */
  }

  .bill_img {
    @apply rounded-xl mt-3;
  }

  /* Orderagain page tablete css */
  .orderagain_conatainer {
    @apply bg-black text-white pb-20;
  }
  .orderagain_leftarrowdiv {
    @apply grid grid-cols-10 text-2xl py-3 pl-3;
  }

  .orderagain_firstcard {
    @apply mt-16 pb-10 bg-slate-200 rounded-3xl pt-10 text-black;
    height: 80vh;
  }

  .orderagain_secondcard {
    @apply bg-white pb-10 mx-10 text-center pt-5 rounded-3xl;
  }

  .ordernow_paybtn {
    @apply bg-yellow-600  text-black font-bold py-2 px-4 rounded-full my-10;
  }
  .ordernow_browesmenubtn {
    @apply bg-yellow-600  text-black font-bold py-2 px-4 rounded-full mt-5;
  }

  .orderagain_hotellogo {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .orderagain_logo {
    height: 12rem;
    width: 12rem;
  }
  .orderagain_tagline {
    /* display: flex;
    justify-content: center; */
    @apply flex justify-center italic font-semibold;
    font-size: 2rem;
  }
  .orderagain_animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    /* font-size: 30px; */
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  .orderagain_msg {
    @apply flex justify-center font-semibold mt-5 mx-3;
    font-size: 2rem;
  }

  .orderagain_orderjowbtn {
    @apply bg-yellow-300 text-black font-bold px-2 rounded-full text-xl w-44 py-5 ml-20;
  }

  /* pay page tablete view css */
  .pay_container {
    @apply bg-black text-white pb-20;
  }
  .pay_leftarrowdiv {
    @apply grid grid-cols-10 text-2xl py-3 pl-3;
  }

  .pay_QRdiv_parent {
    @apply pt-5 pl-4 text-center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pay_QRdiv {
    @apply flex justify-center;
  }

  .Pay_QR {
    @apply shadow-2xl;
  }

  .pay_paybutton {
    @apply pl-2 pb-2;
  }

  .pay_firstcard {
    @apply pb-10 bg-slate-200 rounded-3xl pt-10 text-black;
  }

  .pay_secodcard {
    @apply bg-white pb-10 mx-10 text-center pt-5 rounded-3xl;
  }

  .pay_thirdcard {
    @apply my-10 bg-slate-100 mx-10 h-80 py-12 rounded-3xl shadow-2xl;
  }

  .pay_ordiv {
    @apply font-bold text-xl;
  }

  .pay_billontable {
    @apply mt-10 font-semibold text-2xl;
  }
  .pay_payyourbilldiv {
    @apply text-2xl;
  }

  .bill_totaldiv {
    @apply pl-10;
  }

  /* css for foodid tablete view */
  .foodid_container {
    @apply bg-gray-200 text-black pb-28;
  }

  .foodid_secoddiv {
    @apply text-2xl font-bold grid  grid-cols-9 pt-5;
    /* display: ; */
    position: absolute;
  }

  .foodid_imgoffood {
    /* position: absolute; */
  }

  .foodid_backbtn {
    @apply ml-5 text-black mt-1;
  }
  .foodid_foodname {
    @apply col-span-6 text-black;
  }
  .foodid_foodimg {
    @apply rounded-3xl bg-slate-200 pt-5 pb-32;
  }
  .foodid_fooddeatails {
    @apply grid grid-cols-2 mx-4 text-3xl font-semibold rounded-3xl;
  }

  .foodid_starmaindiv {
    @apply grid grid-cols-12 gap-6 my-5 text-3xl;
  }

  .foodid_review {
    @apply col-span-3 text-sm pt-2 pl-2;
  }
  .foodid_fooddeatilsdiv {
    @apply ml-5 font-semibold text-xl mt-10;
  }

  .foodid_foodnutritionmaindiv {
    @apply bg-white h-20 w-64 text-center ml-16 mb-5 rounded-xl grid grid-cols-3  shadow-2xl;
    margin-left: 35%;
  }

  .foodid_caloriesdiv {
    @apply px-3 pt-3 border-l border-r border-solid border-gray-500;
  }
  .foodid_carbsdiv {
    @apply pt-3;
  }
  .foodid_proteinsdiv {
    @apply pt-3;
  }

  .foodid_addtocarddiv {
    @apply fixed bottom-4  w-full;
    margin-left: 40%;
    margin-bottom: 3rem;
  }

  .foodid_addtocardbtn {
    @apply bg-yellow-300 text-black font-bold py-3 px-5 text-xl rounded-full;
  }
  .foodid_detailsoffood {
    @apply mx-10 text-lg;
  }
  .foodid_nutritionsdiv {
    @apply ml-5 font-semibold text-xl mt-10;
  }

  /* css for nameofdiv page tablet view */
  .nameoffood_headerdiv {
    @apply bg-yellow-200 rounded-b-3xl flex justify-center pt-4 h-20 text-black font-semibold italic;
    font-size: 1.5rem;
  }

  .nameoffood_sortbutton {
    @apply text-center space-x-4 mt-2;
  }
  .nameoffood_sortbutton_btn {
    @apply bg-transparent text-yellow-500 font-semibold   px-2 border border-yellow-500 rounded-full hover:border-transparent hover:text-white hover:bg-yellow-400;
  }

  .nameoffood_all_btn_true {
    @apply bg-yellow-400 text-white border-transparent font-semibold rounded-full px-5 py-2 text-2xl;
  }
  .nameoffood_all_btn_false {
    @apply bg-transparent text-yellow-500 font-semibold   px-5 py-2 text-xl border border-yellow-500 rounded-full;
  }
  .nameoffood_sortselect_btn {
    @apply bg-transparent text-yellow-500 font-semibold   px-5 py-3 border border-yellow-500 hover:border-transparent hover:bg-yellow-400 hover:text-white rounded-full;
  }
}
